*{
  font-family: Comic Sans MS, Tahoma;
  margin:15px 20px;
  font-size: 17px;
  color: #99c9ff;
  background-color: #0a0a23}
h1,h2{
  font-size: 25px; color: rgb(255,190,0); padding-left:20px}
.dino{
width: 800px;aspect-ratio:locked}
.fist-vivision>img{position:absolute;width:40%; object-fit:cover}
.fist-vivision{display:flex; justify-content:space-between}
.yess{text-align: justify;margin-top: auto;
margin-bottom: auto;
margin-left:0;
margin-right: -40px}
/* Reduce the space between list items */
ul {
  list-style-type: disc;
  padding: 0; /* Remove any default padding on the ul element */
}

li {
  margin-bottom: 5px; /* Adjust the margin to your preferred spacing */
}
